// All keys here

$Rye-family: "Rye", serif;
$Lora-family: "Lora", serif;
$Pridi-family: "Pridi", serif;
$Molle-family: "Molle", cursive;
$Kalam-family: "Kalam", cursive;
$Allura-family: "Allura", cursive;
$Caveat-family: "Caveat", cursive;
$Fuggles-family: "Fuggles", cursive;
$Tourney-family: "Tourney", cursive;
$Satisfy-family: "Satisfy", cursive;
$Pacifico-family: "Pacifico", cursive;
$Poppins-family: "Poppins", sans-serif;
$Nosifer-family: "Nosifer", sans-serif;
$Rock_Salt-family: "Rock Salt", cursive;
$Courgette-family: "Courgette", cursive;
$Alex_Brush-family: "Alex Brush", cursive;
$Tilt_Prism-family: "Tilt Prism", cursive;
$Stardos-family: "Stardos Stencil", cursive;
$Croissant-family: "Croissant One", cursive;
$Dancing_Script-family: "Dancing Script", cursive;
$Kaushan_Script-family: "Kaushan Script", cursive;
$Libre_Baskerville-family: "Libre Baskerville", serif;
$Yuji_Hentaigana_Akebono-family: "Yuji Hentaigana Akebono", cursive;

// All Links here
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Yuji+Hentaigana+Akebono&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Molle&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fuggles&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Croissant+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Pridi:wght@200;300;400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Tourney:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Stardos+Stencil:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Rye&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nosifer&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
