@use "../../assets/scss/global/fonts" as fnt;
@use "../../assets/scss/global/mixins" as mix;
@use "../../assets/scss/global/variables" as var;

.landing-page {
  background: var(--url-landing-background);
  background-position: 0 -175px;
  background-color: var(--11CBD7);
  background-repeat: no-repeat;
  background-size: cover;
  transition: ease 2s;
  height: 100%;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    background: var(--00000050);
  }

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    background-size: cover;
    z-index: -1;
    opacity: 0;
    background: var(--url-landing-img-src);
  }

  #wp-landing {
    width: 100%;
    margin: auto;
    min-height: 100vh;
    text-align: center;
    align-items: center;
    display: inline-flex;
    justify-content: center;

    .wp-main-wrap {
      @media screen and (max-width: var.$mobile-large) {
        margin-top: -5rem;
      }

      .wp-greating-wrap {
        display: block;

        // declaration before it use
        $font-size-welcome: 8rem;

        .wp-welcome {
          background: var(--linear-FFE600--452727);
          font-family: fnt.$Fuggles-family;
          font-size: $font-size-welcome;
          -webkit-background-clip: text;
          color: var(--00000000);
          background-clip: text;
          display: inline-block;
          letter-spacing: 7px;
          word-spacing: 15px;
          font-weight: 900;

          @media only screen and (max-width: 1024px) {
            font-size: 6rem;
          }
          @media (max-width: 550px) and (min-width: 426px) {
            font-size: calc(3rem + (96 - 48) * ((100vw - 426px) / (550 - 426)));
          }
          @media only screen and (max-width: 425px) {
            font-size: 3rem;
          }
          @include mix.media-320px-3rem;
        }

        .wp-welcome-shadow {
          font-family: fnt.$Fuggles-family;
          letter-spacing: 7px;
          word-spacing: 15px;
          font-size: $font-size-welcome;
          font-weight: 900;
          color: var(--00000000);
          text-shadow: 0px 0px 0px var(--FF0000);
          animation: shadow 5s alternate infinite;
          justify-content: center;
          margin: -7px 0 0 -2px;
          display: inline-flex;
          align-items: center;
          position: absolute;
          width: 100%;
          z-index: -1;
          left: 0;

          @media only screen and (max-width: 1024px) {
            font-size: 6rem;
            margin: -5px 0 0 -2px;
          }
          @media (max-width: 550px) and (min-width: 426px) {
            font-size: calc(3rem + (96 - 48) * ((100vw - 426px) / (550 - 426)));
          }
          @media only screen and (max-width: 425px) {
            font-size: 3rem;
            margin: -2px 0 0 -2px;
          }
          @include mix.media-320px-3rem;
        }

        .wp-message-welcome {
          margin-top: 1rem;
          font-size: 1.2rem;
          word-spacing: 3px;
          letter-spacing: 2px;
          color: var(--FFE600);
          text-shadow: 0 0 3px var(--0F142C);
          font-family: fnt.$Croissant-family;

          @media only screen and (max-width: 1024px) {
            font-size: 1.2rem;
          }
          @media only screen and (max-width: 768px) {
            font-size: 1rem;
          }
          @media (max-width: 550px) and (min-width: 426px) {
            font-size: calc(0.9rem + (16 - 14.4) * ((100vw - 426px) / (550 - 426)));
          }
          @media only screen and (max-width: 425px) {
            font-size: 0.9rem;
            word-spacing: 0;
            letter-spacing: 0;
          }
          @include mix.media-320px-1rem;
        }

        .wp-message-select,
        .wp-message-greating {
          font-size: 1.2rem;
          margin-top: 4rem;
          font-weight: 700;
          margin-bottom: 2rem;
          color: var(--E4CD00);
          font-family: fnt.$Lora-family;
          text-shadow: 0 0 3px var(--0F142C);

          @media only screen and (max-width: 1024px) {
            font-size: 1.2rem;
          }
          @media only screen and (max-width: 768px) {
            font-size: 1rem;
            margin-top: 2.5rem;
          }
          @media (max-width: 550px) and (min-width: 426px) {
            font-size: calc(0.9rem + (16 - 14.4) * ((100vw - 426px) / (550 - 426)));
          }
          @media only screen and (max-width: 425px) {
            font-size: 0.9rem;
            word-spacing: 0;
            margin-top: 2rem;
            letter-spacing: 0;
            margin-bottom: 1rem;
          }
          @include mix.media-320px-1rem;
        }
      }

      .wp-button-wrap {
        gap: 4rem;
        z-index: 1;
        position: relative;
        display: inline-grid;
        grid-template-columns: repeat(3, 1fr);

        @media only screen and (max-width: 1024px) {
          gap: 2rem;
        }
        @media only screen and (max-width: 425px) {
          gap: 0.5rem;
        }

        .wp-btn-landing {
          animation: boxshadow 5s alternate infinite;

          @media only screen and (max-width: 768px) {
            margin: auto;
          }

          a {
            gap: 5px;
            width: 100%;
            font-size: 1rem;
            min-width: 14rem;
            max-height: 3.5rem;
            align-items: center;
            display: inline-grid;
            grid-auto-flow: column;
            justify-content: center;
            transition: background-size 0.3s ease-out;
            background: var(--url-landing-button-background);
            background-size: 270px 150px;
            background-position: center;
            background-repeat: no-repeat;
            border: 1px solid var(--FF00006B);

            @media only screen and (max-width: 1024px) {
              letter-spacing: 1.2px;
            }
            @media only screen and (max-width: 1024px) {
              letter-spacing: 1px;
            }
            @media only screen and (max-width: 768px) {
              min-width: 10rem;
              max-height: 2.5rem;
            }
            @media (max-width: 550px) and (min-width: 426px) {
              min-width: calc(5rem + (160 - 80) * ((100vw - 426px) / (550 - 426)));
              min-height: calc(1.5rem + (40 - 24) * ((100vw - 426px) / (550 - 426)));
              font-size: calc(0.7rem + (16 - 11.2) * ((100vw - 426px) / (550 - 426)));
            }
            @media only screen and (max-width: 425px) {
              min-width: 5rem;
              max-height: 1.5rem;
              font-size: 0.7rem;
              letter-spacing: 0px;
            }
            @include mix.media-320px-0_7rem;
            @include mix.media-320px-5rem-min-width;
            @include mix.media-320px-1_5rem-min-height;

            svg {
              opacity: 0;
              font-size: 1.5rem;
              margin-right: -30px;
              transition: 0.7s ease-out;

              @media only screen and (max-width: 768px) {
                font-size: 1rem;
              }
              @media only screen and (max-width: 425px) {
                font-size: 0.7rem;
              }
              @include mix.media-320px-0_7rem;
            }

            &:hover {
              color: red;
              background-size: 140% 120%;

              @media only screen and (max-width: 425px) {
                background-size: 140% 130%;
              }

              & svg {
                opacity: 1;
                margin-right: 2px;

                @media only screen and (max-width: 425px) {
                  margin-right: 0px;
                }
              }
            }
          }
        }
      }

      /* ends here */
      .active-class {
        opacity: 0;
        cursor: none;
        pointer-events: none;
        transition: opacity 0.6s;
      }
    }
  }
}
